<%= form_tag search_path, :method => "get" do |f| %>
  <div class="row collapse">
    <div class="small-8 columns">
      <%= text_field_tag :search,"#{params[:search]}",  :class => 'searchfield', :placeholder => 'Search...' %>
    </div>
    <div class="small-4 columns">
      <%= submit_tag("Search", :class => "alert button")%>
    </div>
  </div>
<% end %>
