<%= render :partial => "shared/left_navigator" %>
<div class="content-section">
  Would you like to <%= link_to 'search for jobs', jobs_path, :class => "btn company" %>?
  or would you like to <%= link_to 'add jobs', new_user_account_company_path(current_user), :class => "btn company" if !current_user.nil?%>? </br>
  *Please take notice that you need to create company before creating job.*
</div>
