<% if !user_signed_in?%>
  <div class = "row">
    <div class ="span5">
      <%= render :file => '/home/list_job.html.erb'%>
    </div>

    <div class = "span4">
      <%= render :file => '/devise/registrations/new.html.erb' %>
    </div>
  </div>
<%else%>

  <%= render :file => '/home/list_job.html.erb'%>

<%end%>


