<% if !user_signed_in?%>
  <div class = "row">
    <div class ="span5">
      <%= render :file => '/home/list_job.html.erb'%>
    </div>

    <div class = "span4">
      <% unless user_signed_in? %>
        <%= render :partial => 'home/signup_form' %>
      <%end%>
    </div>
  </div>
<%else%>

  <%= render :file => '/home/list_job.html.erb'%>

<%end%>


