<div class = "row">

  <div class ="span5">
    <h1>Home#show</h1>
    
  </div>

  <div class = "span4">
    <% unless user_signed_in? %>
      <%= render :file => '/home/_signup_form.html.erb'%>
    <%end%>
  </div>

</div>
