<% if !user_signed_in?%>
  <div class = "row">
    <div class ="span5">
      Introduction for website.
      
    </div>

    <div class = "span4">
      <%= render :file => '/devise/registrations/new.html.erb' %>
    </div>
  </div>
<%else%>

  Introduction for website.
 <%= render 'list_job'%>
<%end%>


