<%= render :partial => "user/accounts/account_menu" %>
<h2>Reviews</h2>
<table>
  <tr>
    <th>Post By</th>
    <th>Comment</th>
  </tr>
  <% @reviews.each do |r| %>
    <tr>
      <td><%= r.post_by %></td>
      <td><%= r.comment %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Add Review", new_user_account_review_path(current_user) %>
