<%= render :partial => "user/accounts/account_menu" %>
<h2>Reviews</h2>
<table class = "table table-condensed">
  <tr>
    <th>Post By</th>
    <th>Comment</th>
  </tr>
  <% @reviews.each do |r| %>
    <tr>
      <td><%= r.created_at.to_date %></td>
      <td><%= r.comment %></td>
    </tr>
  <% end %>
</table>
