<%= simple_form_for(@review, :html => { :class => "form-horizontal"}) do |f| %>
  <%= f.input :comment, :as => :text %>
  <%= f.input :post_by %>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
